body{
    background-color: rgb(169, 238, 204);
}

.formColor{
    background-color: rgb(114, 124, 177);
}

.formFont{
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    color:oldlace;
    text-shadow: 1px 1px black;
}

.navAnchor a {
    font-size: 11px !important;
    /* color: yellow !important; */
}

.quote{
    font-size: 12px;
    font-style: italic;
    color: darkgray;
}
.projectHover li:hover{
    background-color: rgb(250, 247, 210);
    color: maroon
}

ul{
    list-style-type: none;
}